{{ block "index" . }}
<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
  </head>
  <body>
    <h1>Contacts</h1>
    {{ template "create-contact-form" . }} {{ template "contacts" . }}

    <script>
      document.addEventListener("DOMContentLoaded", (event) => {
        document.body.addEventListener("htmx:beforeSwap", (evt) => {
          if (evt.detail.xhr.status === 422) {
            evt.detail.shouldSwap = true;
            evt.detail.isError = true;
          }
        });
      });
    </script>
  </body>
</html>
{{ end }}

<!-- create contact form -->
{{ block "create-contact-form" . }}
<form hx-post="/contacts" hx-swap="outerHTML">
  <div>
    <label for="name">name</label>
    <input
      type="text"
      id="name"
      name="name"
      required
      {{
      if
      .App.FormData.Values.name
      }}
      value="{{ .App.FormData.Values.name }}"
      {{
      end
      }}
    />
    {{ if .App.FormData.Errors.name }}
    <p style="color: red">{{ .App.FormData.Errors.name }}</p>
    {{ end }}
  </div>
  <div>
    <label for="email">email</label>
    <input
      type="text"
      id="email"
      name="email"
      required
      {{
      if
      .App.FormData.Values.email
      }}
      value="{{ .App.FormData.Values.email }}"
      {{
      end
      }}
    />
    {{ if .App.FormData.Errors.email }}
    <p style="color: red">{{ .App.FormData.Errors.email }}</p>
    {{ end }}
  </div>
  <button type="submit">Submit</button>
</form>
{{ end }}

<!-- contacts loop -->
{{ block "contacts" . }}
<div id="contacts">
  {{ range .DB.Contacts }}
  <div>
    <h3>{{ .Name }}</h3>
    <p>{{ .Email }}</p>
  </div>
  {{ end }}
</div>
{{ end }}
